/* body{
  background-color: aquamarine;
} */

.nav-color{
  background-color:dark;
  display: flex;
  justify-content:space-between;
  align-content:center;
  padding: 20px;

}

.NavCollapse{
 color: whitesmoke;

}


#Logoimage{
  width: 80px;
  margin-right: 20px;
}


.searchFilter{

  margin-top: 30px;
  
}


.searchFilter input {

   width: 250px; 
   height: 25px;
   background-color: rgb(224, 224, 224);
   border: 1px solid rgba(255, 174, 0, 0.715);
   border-radius: 5px;
   color: #062856;
   margin: 0px 10px;

  
}

 button{

  border-radius: 5px;
  width: 50px;
  padding: 5px;
  background-color:#ffae00b6;
  border: none;


}


